ul{ 
  padding-left:1.2rem; 
  margin: 0 0 .75rem;
}

ul.bullets{ 
  list-style:disc; /* kulepunkt på liste-elementer*/
}

ul li{ 
  margin:.35rem 0; 
}

/* Formatering for smale skjermer */
.bullets.key-competencies{ 
  columns: 1;       /*Hvis skjermbredden er smalere enn 768 px så har nøkkelkompetansen én kolonne*/
}

/* Når skjermbredden er større enn768px: deles nøkkelkompetansen inn to kolonner */
@media (min-width: 768px){
  .bullets.key-competencies{ 
    columns: 2; 
    column-gap: 2rem; 
  }
}
