body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 1rem;
}

table {
  border-collapse: collapse;
  margin-bottom: 1rem; /* litt luft mellom tabell og skjema */
}

th {
  border: solid 1px black;
  background-color: lime;
  padding: 0.25rem;
}

td {
  border: solid 1px black;
  padding: 0.5rem;
}

.add-mountain {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* venstrejuster skjemaet */
}

input,
button {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
