body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 1rem;

}

h2 {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

th {
    border: solid 1px black;
    background-color: lime;
    padding: 0.25rem;
}

td {
    border: solid 1px black;
    padding: 0.5rem;
}


.add-mountain {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
}


input {
    padding: 0.5rem;
    margin: 0.5rem;
}