# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Miljøvariabler
.env

# Loggfiler
*.log

# MacOS systemfiler
.DS_Store

# VS Code settings
.vscode/

# Eventuelle build-output
dist/
build/
