body {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  color: #fff;
  font-family: sans-serif;
}

.box {
  width: 60px;
  height: 60px;
  background: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  border: 2px solid white;
}

/* ulike transformasjoner */
.translate {
  transform: translate(40px, -80px); /* -y = oppover +y = nedover*/
  background: orchid;
}

.rotate {
  transform: rotate(45deg);
  background: tomato;
}

.scale {
  transform: scale(1.5);
  background: goldenrod;
}

.combo {
  transform: translate(50px, 0) rotate(30deg) scale(1.2);
  background: mediumseagreen;
}

/* animert transform */
.animated {
  background: hotpink;
  animation: spin 4s linear infinite;
}

/* nøkkelbilder for animasjon */
@keyframes spin {
  0%   { transform: translate(40px, 80px) rotate(0deg) scale(1); }
  50%  { transform: translate(40px, 80px) rotate(180deg) scale(1.5); }
  100% { transform: translate(40px, 80px) rotate(360deg) scale(1); }
}
