/* src/styles/datasets.css */

/* Orgnaiserer layout i to kolonner */
.layout {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.leftPane { 
  flex: 0 0 clamp(200px, 24vw, 320px); 
}

.rightPane { 
  flex: 1 1 auto; 
  display: block; /* Setter display til block her for å ikke flexe i dette tilfellet  */
}  

h2 {
  margin-top: 0;
}

/* Litt luft mellom kortene i høyre kolonne */
.general-dataset-information,
.dataset-content { 
  margin-top: 16px; 
}


.general-dataset-information { 
  margin-top: 0; 
}