.app-container {
  display: flex;
  flex-direction: column;   /* legg radene under hverandre */
  justify-content: center;  /* senter vertikalt */
  align-items: center;      /* senter horisontalt */
  height: 100vh;            /* fyll hele skjermhøyden */
  background-color: rgb(252, 230, 104);
}