.row { 
    display: flex; align-items: center; 
}

.gap { 
    gap: .5rem; 
    margin: .75rem 0; 
    flex-wrap: wrap; 
}

.small { 
    font-size: .95rem; 
}

.center { 
    justify-content: center; 
}
