.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

button {
  font-size: 2rem;
  padding: 10px 20px;
  border-radius: 20px;
}

#count-value {
  font-weight: bold;
}

#increase-btn {
  background-color: green;
  color: white;
}

#decrement-btn {
  background-color: red;
  color: white;
}

.reset-btn {
  margin-top: 10px;
  background-color: blue;
  color: white;
  /*border-radius: 20px;*/
}

span {
  font-size: 2rem;
  margin: 0 15px;
  display: inline-block;
}
