/* tallene */
.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
