/*styles/App.css*/
@import "./analog-clock.vars.css";
@import "./analog-clock.base.css";
@import "./analog-clock.numbers.css";
@import "./analog-clock.ticks.css";
@import "./analog-clock.hands.css";
@import "./analog-clock.digital.css";
