/* margin auto-versjon*/
/* Center Align Block Elements */
/* MWP */
.container {
  margin: auto;
  width: 50%;
  border: 3px solid #73AD21;
  padding: 10px;
  text-align:center
}


/* flex, justify-content, align.items. (DJA)*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* cenrert div med rader inni*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}