body {
    display: flex;
    flex-direction: center;
    justify-content: center;
    animation: flipColors 3s infinite;
}

@keyframes flipColors {
    0% { background-color: red; }
    33% { background-color: yellow; }
    66% { background-color: green; }
    100% { background-color: blue;}
    
}