html, body {
    height: 100%;
    background-color: lightgrey;
}


.innpakning {
    /* width: 800px; */
    /*flex: 1;*/
    min-height: 70%;
    background-color: #404040;
    margin: auto; /* like stor høyre marg som venstremarg */
    display: flex;
    flex-direction: row; /* innholdet er plassert i rad */
    flex-wrap: wrap; /* lar oss BRYTE rader */
    align-content: flex-start;
    color: white;
    
}

.topptekst {
    flex-basis: 100%;
    height: 120px;
    background-color: #909090;
    padding: 5px;
    margin: 5px; /* margin gir oss i dette tilfelle "ramme rundt"*/
    order: 1; /* angir rekkefølgen som først av innpakningselementene */
}

.meny {
    /*flex-basis: 100%;*/
    flex-basis: 200px; /* aldri smalere enn 200 px */
    background-color: #329632;
    padding: 5px;
    margin: 5px;
    order: 2; /* angir rekkefølge som nummer 2 */
}

.innhold {
    min-height: calc(100vh - 122px - 122px);
    background-color: #c2bbbb;
    flex: 1; /* fyller ut ALL ledig plass i BREDDEN */
    padding: 5px;
    margin: 5px;
    order: 3;
}


.footer-div {
  flex-basis: 100%;        /* ta hele bredden i innpakning */
  height: 50px;
  background: #329632;
  color: white;
  padding: 5px;
  margin: 5px;             /* samme ramme som de andre */
  order: 4;

  display: flex;           /* gjør footer til flex-container */
  justify-content: center; /* sentrer horisontalt */
  align-items: center;     /* sentrer vertikalt */

}